<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.lawhelp.spring.dao.PartMapper" >
   <select id="selectCity" resultMap="BaseMap">
       SELECT city.NAME FROM city
        INNER JOIN province ON
        province.ID=city.PARENTID
        WHERE province.PROVINCENAME=#{province,jdbcType=VARCHAR}
   </select>
    <resultMap id="BaseMap" type="com.it.lawhelp.spring.vo.Part">
        <id column="ID" property="id"></id>
        <result column="NAME" property="city"></result>
    </resultMap>
    <select id="selectProvince" resultType="com.it.lawhelp.spring.vo.Part">
        SELECT PROVINCENAME as province FROM province
    </select>
</mapper>