<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.lawhelp.spring.dao.QuestionMapper">
    <insert id="addQuestion" parameterType="com.it.lawhelp.spring.vo.Question">
        INSERT INTO question
        (
         TITLE,
         DETAILS,
         TYPE,
         USERNAME,
         PHONE,
         PROVINCE,
         CITY
        )VALUES
        (
        #{title,jdbcType=VARCHAR},
        #{details,jdbcType=VARCHAR},
        #{type,jdbcType=VARCHAR},
        #{username,jdbcType=VARCHAR},
        #{phone,jdbcType=VARCHAR},
        #{province,jdbcType=VARCHAR},
        #{city,jdbcType=VARCHAR}
        )
    </insert>
    <!--问题中心-->
    <select id="findQuestion" resultType="com.it.lawhelp.spring.vo.Question">
        SELECT
         ID AS id,
        TITLE AS title,
        DETAILS AS details,
        TYPE AS type,
        PHONE AS phone,
        USERNAME AS username,
        PROVINCE AS province,
        CITY AS city,
        date_format(CREATEDATE,'%Y-%d-%m' )AS createdate
        FROM question
    </select>
    <!--我的问题-->
    <select id="findQuestionById" resultType="com.it.lawhelp.spring.vo.Question">
        SELECT
        TITLE AS title,
        DETAILS AS details,
        TYPE AS type,
        PHONE AS phone,
        USERNAME AS username,
        PROVINCE AS province,
        CITY AS city,
        date_format(CREATEDATE,'%Y-%d-%m') AS createdate
        FROM question
        WHERE PHONE=#{phone}
    </select>
    <select id="findProfessorRes" resultType="com.it.lawhelp.spring.vo.ProfessorRes">
        SELECT * FROM professorRes WHERE professorRes.PARENTID =#{parentId,jdbcType=INTEGER}
    </select>
    <insert id="addProfessorRes" parameterType="com.it.lawhelp.spring.vo.ProfessorRes">
        INSERT  INTO professorres
        (PROFESSORNAME,
        PROFESSORUNIT,
        PROFESSORDUTY,
        GOODAT,
        PROFESSORRES,
        PARENTID,
        ASKAGAIN,
        USERNAME,
        PEOPLERES
        ) VALUES
        (#{professorName,jdbcType=VARCHAR},
        #{professorUnit,jdbcType=VARCHAR},
        #{professorDuty,jdbcType=VARCHAR},
        #{goodat,jdbcType=VARCHAR},
        #{professorRes,jdbcType=VARCHAR},
        #{parentId,jdbcType=INTEGER},
        #{askAgain,jdbcType=VARCHAR},
        #{username,jdbcType=VARCHAR},
        #{peopleres,jdbcType=VARCHAR}
        )
    </insert>
    <!--回复-->
    <select id="findQuestionByIds" resultType="com.it.lawhelp.spring.vo.Question">
        SELECT
        ID AS id,
        TITLE AS title,
        DETAILS AS details,
        TYPE AS type,
        PHONE AS phone,
        USERNAME AS username,
        PROVINCE AS province,
        CITY AS city,
        date_format(CREATEDATE,'%Y-%d-%m') AS createdate
        FROM question
        WHERE ID=#{id}
    </select>
</mapper>
