<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.lawhelp.spring.dao.QuestionMapper">
    <insert id="addQuestion" parameterType="com.it.lawhelp.spring.vo.Question">
        INSERT INTO question
        (TITLE,
         DETAILS,
         TYPE,
         USERNAME,
         PHONE,
         PROVINCE,
         CITY,
         DATE
        )VALUES
        (
        #{title,jdbcType=VARCHAR},
        #{details,jdbcType=VARCHAR},
        #{type,jdbcType=VARCHAR},
        #{username,jdbcType=VARCHAR},
        #{phone,jdbcType=VARCHAR},
        #{province,jdbcType=VARCHAR},
        #{city,jdbcType=VARCHAR},
        CURRENT_DATE
        )
    </insert>
    <select id="findQuestion" resultType="com.it.lawhelp.spring.vo.Question">
        SELECT
        TITLE AS title,
        DETAILS AS details,
        TYPE AS type,
        PHONE AS phone,
        USERNAME AS username,
        PROVINCE AS province,
        CITY AS city,
        date_format(CREATEDATE,'%Y-%d-%m' )AS createdate
        FROM question
    </select>
</mapper>
