<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.lawhelp.spring.dao.UserMapper" >

    <select id="selectUserByName"  resultType="com.it.lawhelp.spring.vo.User">
        SELECT * FROM user
    </select>

    <select id="getUsers"  resultType="com.it.lawhelp.spring.vo.User">
        SELECT * FROM user
    </select>
</mapper>
