<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.lawhelp.spring.dao.UserMapper" >
    <insert id="addNewUser" parameterType="com.it.lawhelp.spring.vo.User">
        INSERT  INTO user
          (PHONE,
           USERNAME,
           PASSWORD
          ) VALUES
          (
          #{phone,jdbcType=VARCHAR},
          #{username,jdbcType=VARCHAR},
          #{password,jdbcType=VARCHAR}
          )
    </insert>
    <select id="selectIsPhone" resultType="String">
        SELECT 1 FROM user WHERE PHONE=#{phone}
    </select>
    <select id="login" resultType="com.it.lawhelp.spring.vo.User">
    SELECT * FROM user WHERE PHONE=#{phone} AND PASSWORD=#{password}
    </select>
    <insert id="addprofessor" parameterType="com.it.lawhelp.spring.vo.Professor">
        INSERT  INTO professor
        (PHONE,
        NAME,
        IDCARD,
        ASSESTID,
        UNIT,
        DUTY,
        GOODAT
        ) VALUES
        (
        #{phone,jdbcType=VARCHAR},
        #{name,jdbcType=VARCHAR},
        #{idcard,jdbcType=VARCHAR},
        #{assestid,jdbcType=VARCHAR},
        #{unit,jdbcType=VARCHAR},
        #{duty,jdbcType=VARCHAR},
        #{goodat,jdbcType=VARCHAR}
        )
    </insert>
    <select id="selectIsProfessor" resultType="String">
        select 1 FROM professor WHERE ASSESTID =#{assestid}
    </select>
    <select id="findUserInfos" resultType="com.it.lawhelp.spring.vo.User">
        SELECT * FROM user WHERE PHONE = #{phone}
    </select>
    <select id="findProfessors" resultType="com.it.lawhelp.spring.vo.Professor">
        SELECT * FROM professor WHERE PHONE =#{phone}
    </select>
</mapper>
